info:
  component: Division Service

server:
  port: 9003

spring:
  application:
    name: division-service

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    instance:
      preferIpAddress: true
